<%= form_with(model: friend, local: true) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group" style="width: 98%; margin-left: 1rem; margin-right: 1rem;>
    <%= form.label :first_name, class:"form-label" %>
    <%= form.text_field :first_name, class:"form-control", placeholder:"First name" %>
  </div>

  <div class="field form-group" style="width: 98%; margin-left: 1rem; margin-right: 1rem;>
    <%= form.label :last_name, class:"form-label" %>
    <%= form.text_field :last_name, class:"form-control",  placeholder:"Last name" %>
  </div>

  <div class="field form-group" style="width: 98%; margin-left: 1rem; margin-right: 1rem;>
    <%= form.label :email, class:"form-label"%>
    <%= form.text_field :email, class:"form-control", placeholder:"abc@example.com" %>
  </div>

  <div class="field form-group" style="width: 98%; margin-left: 1rem; margin-right: 1rem;>
    <%= form.label :phone, class:"form-label" %>
    <%= form.text_field :phone, class:"form-control", placeholder:"111 222 3333" %>
  </div>

  <div class="field form-group" style="width: 98%; margin-left: 1rem; margin-right: 1rem; margin-bottom: 1rem;">
    <%= form.label :twitter, class:"form-label" %>
    <%= form.text_field :twitter, class:"form-control", placeholder:"Twitter"%>
  </div>

  <div class="actions" style="margin-left: 1rem; margin-bottom: 1rem;">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
